{% if site.data.publications %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Selected Publications</h2>

  {% for paper in site.data.publications %}
    <div class="item">

      <span class="publication-authors">{{ paper.authors }}</span> <br>
      <span class="publication-title">{{ paper.title }}</span> <br>
      <span class="publication-conference">{{ paper.conference }}</span>
      {% if paper.arxiv %}
      [<a href={{ paper.arxiv }}>arxiv</a>]
      {% endif %}
      {% if paper.pdf %}
      [<a href={{ site.url }}/{{ paper.pdf }}>pdf</a>]
      {% endif %}
      {% if paper.ppt %}
      [<a href={{ site.url }}/{{ paper.ppt }}>ppt</a>]
      {% endif %}
      {% if paper.www %}
      [<a href={{ site.url }}/{{ paper.www }}>www</a>]
      {% endif %}
      {% if paper.code %}
      [<a href={{ paper.code }}>code</a>]
      {% endif %}
      {% if paper.bibtex %}
      [<a href={{ site.url }}/{{ paper.bibtex }}>bibtex</a>]
      {% endif %}

    </div><!--//item-->
  {% endfor %}
<br>
Check out <a href="http://researchgate.net/profile/Siddharth_Choudhary">ResearchGate</a> or <a href="https://scholar.google.com/citations?user=A9HxcJ8AAAAJ&hl=en">Google Scholar</a> for complete list of publications.
</section><!--//section-->
{% endif %}
