{% if site.data.publications %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Selected Publications</h2>

  {% for paper in site.data.publications %}
    <div class="item">

      <span class="publication-authors">{{ paper.authors }}</span>
      <span class="publication-title">{{ paper.title }}</span> <br>
      <span class="publication-conference">{{ paper.conference }}</span>
      {% if paper.arxiv %}
      [<a href={{ paper.arxiv }}>arxiv</a>]
      {% endif %}
      {% if paper.pdf %}
      [<a href={{ paper.pdf }}>pdf</a>]
      {% endif %}
      {% if paper.code %}
      [<a href={{ paper.code }}>code</a>]
      {% endif %}

    </div><!--//item-->
  {% endfor %}

Check out <a href="researchgate.net/profile/Siddharth_Choudhary">researchgate</a> for complete list of publications.
</section><!--//section-->
{% endif %}
